
 <div class="filter">
    <div class="card shadow h-100">
        <div class="card-header">
            <div class="row">
                <div class="col align-self-center">
                    <h6 class="mb-0">Criterios de búsqueda</h6>
                    <p class="text-secondary small">254 Bikers en Mérida</p>
                </div>
                <div class="col-auto px-0">
                    <button class="btn btn-link text-danger filter-close">
                        <i class="bi bi-x size-22"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body overflow-auto">
         
            <div class="col-12 text-center mb-3">
                <button class="btn btn-sm btn-outline-info">
                    <i class="bi bi-diamond"></i> Standar
                </button>
                <button class="btn btn-sm btn-outline-danger me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-heart"></i> Subasta
                </button>
              
            </div>
            <div class="col-12 collapse " id="collapseExample" style="">
                <div class="form-floating mb-3">
                   <input type="number" class="form-control" min="1" max="100" value="2" step="1" id="input-number">
                       
                    <label for="input-select">Presupuesto ($ USD)</label>
                </div>
            </div>
  
           
           
  
            
  
            <div class="form-group floating-form-group active mb-4">
                <h6 class="mb-3">Género del biker</h6>
  
                <div class="form-check form-switch mb-2">
                    <input type="checkbox" class="form-check-input" id="men" checked="">
                    <label class="form-check-label" for="men">Hombre</label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input type="checkbox" class="form-check-input" id="woman" checked="">
                    <label class="form-check-label" for="woman">Mujer</label>
                </div>
                
            </div>
            <div class="form-group floating-form-group active mb-4">
                <h6 class="mb-3">Tipo de motocicleta</h6>
  
               
                <div class="form-check form-switch mb-2">
                    <input type="checkbox" class="form-check-input" id="Sport" checked>
                    <label class="form-check-label" for="Sport">Scooter</label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input type="checkbox" class="form-check-input" id="homedecor">
                    <label class="form-check-label" for="homedecor">Enduro</label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input type="checkbox" class="form-check-input" id="kidsplay">
                    <label class="form-check-label" for="kidsplay">Chopper</label>
                </div>
            </div>
  
            
  
        </div>
        <div class="card-footer">
            <button class="btn btn-lg btn-warning w-100 shadow-sm shadow-success">Aplicar</button>
        </div>
    </div>
  </div>